<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="bookDAO" class="com.github.Karina_Denisevich.spring_template.example.book.dao.impl.JdbcTemplateBookDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="bookSimpleDAO"
          class="com.github.Karina_Denisevich.spring_template.example.book.dao.impl.SimpleJdbcTemplateBookDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="bookNamedDAO"
          class="com.github.Karina_Denisevich.spring_template.example.book.dao.impl.NamedParameterJdbcTemplateDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
